<nav class="navbar navbar-default" xmlns:th="http://wwww.thymeleaf.org"
	th:fragment="header">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Book Management System</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="/">Home</a></li>
			<li><a href="/book/add">Create User</a></li>
			<!-- <li><a href="#">Login</a></li> -->
			<li><a href="/?lang=kh"><img id="khmer" alt="khmer" src="image/kh.jpg" class="img" /></a></li><li><a href="/?lang=en"><img id="en" alt="english" src="image/en.png" class="img" /></a></li>
		</ul>
	</div>
</nav>
