<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/assets/css/index.css"/>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.img {
	width: 35px;
	border: 1px solid #9325BC;
	padding: 1px;
	height: 30px ;
	/* width: 50px;
		border: 1px solid #ddd;
	    border-radius: 4px;
	    padding: 5px;
		height: 40px ; */
}

.img:hover {
	width: 35px;
	border: 1px solid #ddd;
	border-radius: 0px;
	padding: 0px;
	height: 30px ;
}
</style>