<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet" type="text/css" href="css/index.css" />
<style>
img {
	width: 100px;
}
</style>
<title>Insert title here</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<table class ="table">
			<tr>
				<th>Name</th>
				<th>Gender</th>
				<th>Image</th>
				<th>Roles</th>
			</tr>
			<tr th:object="${user}">
				<td th:text="*{name}"></td>
				<td th:text="*{gender}"></td>
				<td><img alt="image" th:src="@{${user.image}}" /></td>
				<td>
					<ul>
						<li th:each="role : *{roles}" th:text="${role.role}" />
					</ul>
				</td>
			</tr>
		</table>
		<!-- <ul th:object="${user}">
			<li th:text="*{name}"></li>
			<li th:text="*{gender}"></li>
			<li><img alt="image" th:src="@{${user.image}}" /></li>
			<li th:each="role : *{roles}" th:text="${role.role}" />


		</ul> -->
	</div>
</body>
</html>