<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">

<link rel="stylesheet" type="text/css" href="css/index.css"></link>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css"></link>

<th:block layout:fragment="myStyle">
<style>
.error {
	color: red;
}
img{
	width: 100px;
}	
.isDisabled {
pointer-events: none;
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.not-active {
  	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	pointer-events: none;
}
</style>
</th:block>
<body>
	<div class="container" layout:fragment="content">
		<a class="btn btn-primary" th:href="@{|/user/add|}">Add</a>
		<div class=" text-center">
			<span th:text="#{message.welcome}">TEST</span>
			<!-- 		<h2 class="btn btn-danger" th:utext="${name}"></h2> -->

		</div>
		<!-- <ul>

		<li th:inline="text">[[${user.name}]]</li>
		<li th:text="${user.gender}"></li>
		<li th:text="${user.image}"></li>

	</ul>
	<ul th:object="${user}">
		<li th:text="*{name}"></li>
		<li th:text="*{gender}"></li>
		<li th:text="*{image}"></li>

	</ul> -->
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Gender</th>
					<th>Image</th>
					<th>Role</th>
					<th>Action</th>
					
				</tr>
			</thead>
			<tbody th:each="user :${users}" th:inline="text">
				<tr>
					<td>[[${user.id}]]</td>
					<td>[[${user.name}]]</td>
					<td>
						<!-- <span th:if="${user.gender=='M'}" th:text="Male"></span> 
				<span th:unless="${user.gender=='M'}" th:text="Female"></span> --> <span
						th:text="${user.gender=='M'?'Male':'Female'}"></span>
					</td>
					<td><img alt="image" th:src="@{${user.image}}"></img></td>
					<td><ul>
				<li th:each="role : ${user.roles}" th:text="${role.role}"></li>
			</ul></td>
					<td><a class="btn btn-success"
						th:href="@{|/detail/${user.id}|}" th:text="Detail"></a> <a
						class="btn btn-danger" th:href="@{|/remove/${user.id}|}">Remove</a><a
						th:href="@{|/edit/${user.id}|}" class="btn btn-info">Edit</a></td>
				</tr>

			</tbody>
			<tfoot>
			<tr>
				<td colspan="6">
					<ul class="pager">
						<li th:class="${prevPage <= 1 ? 'disabled':''}"><a th:class="${prevPage <= 1 ? 'not-active':''}" th:href="@{/(page=${prevPage-1})}">Prev</a></li>
						<li><a th:href="@{/(page=${prevPage+1})}">Next</a></li>
					</ul>	
				</td>
			</tr>
			</tfoot>
		</table>

	</div>
</body>
</html>
<!-- <script th:inline="javascript">
	var user = [[${users}]];
	console.log(user);
</script> -->
